<nav id="nav" class="navbar navbar-expand-lg py-3 navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1 font1" href="/">
            <!-- <img src="" alt="Logo"
          width="100" height="24" class="d-inline-block align-text-center"> -->
            Fast Cinema
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon color-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link navMenu" href="/about">Fast Cinema</a>
                <% if (currentUser) {%>
                <a class="nav-link navMenu" href="/users">Topup</a>
                <a class="nav-link navMenu" href="/movies">Themes</a>
                <% } %>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) { %>

                <a class="nav-link navAuth" href="/login"><span class="material-symbols-rounded spanMaterialSymbol">
                        login
                    </span>
                    <span class="spanMaterialSymbol">Login</span>
                </a>
                <a class="nav-link navAuth" href="/register"><span class="material-symbols-rounded spanMaterialSymbol">
                        app_registration
                    </span><span class="spanMaterialSymbol">Register</span></a>
                <% } else { %>
                <a class="nav-link m-auto navAuth" href="/logout"><span
                        class="material-symbols-rounded spanMaterialSymbol">
                        logout
                    </span><span class="spanMaterialSymbol">Logout</span></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>